In [1]:
# import
import pandas as pd
import numpy as np
import altair as alt
from vega_datasets import data

# enable Altair to work with data with <5k rows
alt.data_transformers.enable('json')

DataTransformerRegistry.enable('json')

In [2]:
# load data
goals = pd.read_csv('goals.csv')

In [3]:
# view data
goals.head()

,date,home_team,away_team,scorer_team,scorer,minute,own_goal,penalty,point_earned,home_goals,away_goals,winner,winner_team,penalty_point,home_penalties,away_penalties
0,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,44.0,False,False,1,0,4,Uruguay,Away,0,0,0
1,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,55.0,False,False,1,0,4,Uruguay,Away,0,0,0
2,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,70.0,False,False,1,0,4,Uruguay,Away,0,0,0
3,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,75.0,False,False,1,0,4,Uruguay,Away,0,0,0
4,1916-07-06,Argentina,Chile,Argentina,Alberto Ohaco,2.0,False,False,1,6,1,Argentina,Home,0,2,0

In [4]:
# group data by game
cols = ['date', 'home_team', 'away_team', 'home_goals', 'away_goals', 
        'winner', 'winner_team', 'home_penalties', 'away_penalties']

games = goals[cols].drop_duplicates()

games['year'] =  games['date'].astype('datetime64[ns]').dt.year 

games.reset_index(drop=True, inplace=True)

print(games.shape)
games.head()

(13986, 10)

,date,home_team,away_team,home_goals,away_goals,winner,winner_team,home_penalties,away_penalties,year
0,1916-07-02,Chile,Uruguay,0,4,Uruguay,Away,0,0,1916
1,1916-07-06,Argentina,Chile,6,1,Argentina,Home,2,0,1916
2,1916-07-08,Brazil,Chile,1,1,Tie,Tie,0,0,1916
3,1916-07-10,Argentina,Brazil,1,1,Tie,Tie,0,0,1916
4,1916-07-12,Brazil,Uruguay,1,2,Uruguay,Away,0,0,1916

In [5]:
# group data by team
cols = ['date', 'year', 'team', 'opponent', 'goals', 'opponent_goals', 
        'penalties_awarded', 'penalties_caused', 'won', 'home']

home_teams = games.copy()
home_teams = home_teams.rename(columns={'home_team': 'team',
                                        'away_team': 'opponent',
                                        'home_goals': 'goals',
                                        'away_goals': 'opponent_goals',
                                        'home_penalties': 'penalties_awarded',
                                        'away_penalties': 'penalties_caused'
                                       })
home_teams['won'] = np.where(home_teams['team'] == home_teams['winner'], 1, 0)
home_teams['home'] = 1
home_teams = home_teams[cols]

away_teams = games.copy()
away_teams = away_teams.rename(columns={'away_team': 'team',
                                        'home_team': 'opponent',
                                        'away_goals': 'goals',
                                        'home_goals': 'opponent_goals',
                                        'away_penalties': 'penalties_awarded',
                                        'home_penalties': 'penalties_caused'
                                       })
away_teams['won'] = np.where(away_teams['team'] == away_teams['winner'], 1, 0)
away_teams['home'] = 0
away_teams = away_teams[cols]

teams = pd.concat([home_teams, away_teams], axis=0).sort_values(by=['date'])

teams.reset_index(drop=True, inplace=True)

In [11]:
pd.set_option('display.max_rows', None)
teams[teams['team'].isin(['Kosovo', 'Albania'])]

,date,year,team,opponent,goals,opponent_goals,penalties_awarded,penalties_caused,won,home
1831,1963-06-29,1963,Albania,Denmark,0,4,0,1,0,0
1847,1963-10-30,1963,Albania,Denmark,1,0,0,0,1,1
1888,1964-05-24,1964,Albania,Netherlands,0,2,0,1,0,0
1923,1964-10-25,1964,Albania,Netherlands,0,2,0,0,0,1
1979,1965-04-11,1965,Albania,Switzerland,0,2,0,0,0,1
1991,1965-05-02,1965,Albania,Switzerland,0,1,0,1,0,0
2001,1965-05-07,1965,Albania,Northern Ireland,1,4,0,1,0,0
2155,1965-11-24,1965,Albania,Northern Ireland,1,1,0,0,0,1
2303,1967-04-08,1967,Albania,Germany,0,6,0,1,0,0
2314,1967-05-14,1967,Albania,Serbia,0,2,0,0,0,1
2393,1967-11-12,1967,Albania,Serbia,0,4,0,0,0,0
2923,1970-10-14,1970,Albania,Poland,0,3,0,0,0,0
2951,1970-12-13,1970,Albania,Turkey,1,2,0,0,0,0
2962,1971-02-17,1971,Albania,Germany,0,1,0,0,0,1
2995,1971-05-12,1971,Albania,Poland,1,1,0,0,0,1
3021,1971-06-12,1971,Albania,Germany,0,2,0,0,0,0
3067,1971-11-14,1971,Albania,Turkey,3,0,0,0,1,1
3190,1972-06-21,1972,Albania,Finland,0,1,0,0,0,0
3230,1972-10-29,1972,Albania,Romania,0,2,0,0,0,0
3343,1973-04-08,1973,Albania,Germany,0,2,0,0,0,0
3361,1973-05-06,1973,Albania,Romania,1,4,0,1,0,1
3483,1973-10-10,1973,Albania,Finland,1,0,1,0,1,1
3505,1973-11-13,1973,Albania,Germany,1,4,0,0,0,1
4763,1980-09-03,1980,Albania,Finland,2,0,0,0,1,1
4847,1980-10-19,1980,Albania,Bulgaria,1,2,0,0,0,0
4856,1980-11-15,1980,Albania,Austria,0,5,0,0,0,0
4886,1980-12-06,1980,Albania,Austria,0,1,0,0,0,1
4980,1981-04-01,1981,Albania,Germany,0,2,0,0,0,1
5108,1981-09-02,1981,Albania,Finland,1,2,1,0,0,0
5158,1981-10-14,1981,Albania,Bulgaria,0,2,0,0,0,1
5194,1981-11-18,1981,Albania,Germany,0,8,0,1,0,0
5353,1982-09-22,1982,Albania,Austria,0,5,0,0,0,0
5379,1982-10-27,1982,Albania,Turkey,0,1,0,0,0,0
5424,1983-03-30,1983,Albania,Germany,1,2,1,1,0,1
5451,1983-04-27,1983,Albania,Northern Ireland,0,1,0,0,0,0
5452,1983-05-11,1983,Albania,Turkey,1,1,0,0,0,1
5475,1983-06-08,1983,Albania,Austria,1,2,0,0,0,1
5585,1983-11-20,1983,Albania,Germany,1,2,0,0,0,0
5715,1984-10-17,1984,Albania,Belgium,1,3,0,0,0,0
5734,1984-10-31,1984,Albania,Poland,2,2,0,0,0,0
5816,1984-12-22,1984,Albania,Belgium,2,0,0,0,1,1
5846,1985-02-27,1985,Albania,Greece,0,2,0,0,0,0
6013,1985-05-30,1985,Albania,Poland,0,1,0,0,0,1
6159,1985-10-30,1985,Albania,Greece,1,1,0,0,0,1
6332,1986-10-15,1986,Albania,Austria,0,3,0,0,0,0
6367,1986-12-03,1986,Albania,Spain,1,2,0,0,0,1
6384,1987-03-25,1987,Albania,Romania,1,5,0,1,0,0
6418,1987-04-29,1987,Albania,Austria,0,1,0,0,0,1
6504,1987-10-28,1987,Albania,Romania,0,1,0,0,0,1
6528,1987-11-18,1987,Albania,Spain,0,5,0,1,0,0
6644,1988-10-19,1988,Albania,Poland,0,1,0,0,0,0
6660,1988-11-05,1988,Albania,Sweden,1,2,0,0,0,1
6811,1989-03-08,1989,Albania,England,0,2,0,0,0,1
6840,1989-04-26,1989,Albania,England,0,5,0,0,0,0
7082,1989-10-08,1989,Albania,Sweden,1,3,1,0,0,0
7148,1989-11-15,1989,Albania,Poland,1,2,0,0,0,1
7195,1990-05-30,1990,Albania,Iceland,0,2,0,0,0,0
7351,1990-11-17,1990,Albania,France,0,1,0,0,0,1
7359,1990-12-19,1990,Albania,Spain,0,9,0,0,0,0
7386,1991-03-30,1991,Albania,France,0,5,0,1,0,0
7413,1991-05-01,1991,Albania,Slovakia,0,2,0,0,0,1
7423,1991-05-26,1991,Albania,Iceland,1,0,0,0,1,1
7541,1991-10-16,1991,Albania,Slovakia,1,2,0,0,0,0
7650,1992-04-22,1992,Albania,Spain,0,3,0,1,0,0
7675,1992-05-26,1992,Albania,Republic of Ireland,0,2,0,0,0,0
7682,1992-06-03,1992,Albania,Lithuania,1,0,0,0,1,1
7765,1992-09-09,1992,Albania,Northern Ireland,0,3,0,0,0,0
7909,1992-11-11,1992,Albania,Latvia,1,1,0,0,0,1
8023,1993-02-17,1993,Albania,Northern Ireland,1,2,0,0,0,1
8113,1993-04-14,1993,Albania,Lithuania,1,3,0,0,0,0
8292,1993-05-26,1993,Albania,Republic of Ireland,1,2,0,0,0,1
8309,1993-06-02,1993,Albania,Denmark,0,4,0,0,0,0
8571,1993-09-08,1993,Albania,Denmark,0,1,0,0,0,1
8587,1993-09-22,1993,Albania,Spain,1,5,0,0,0,1
8873,1994-09-07,1994,Albania,Wales,0,2,0,0,0,0
8933,1994-11-16,1994,Albania,Germany,1,2,0,0,0,1
8959,1994-12-14,1994,Albania,Georgia,0,1,0,0,0,1
8975,1994-12-18,1994,Albania,Germany,1,2,0,0,0,0
9014,1995-03-29,1995,Albania,Moldova,3,0,0,0,1,1
9067,1995-04-26,1995,Albania,Georgia,0,2,0,0,0,0
9115,1995-06-07,1995,Albania,Moldova,3,2,0,0,1,0
9226,1995-09-06,1995,Albania,Bulgaria,1,1,0,0,0,1
9251,1995-10-07,1995,Albania,Bulgaria,0,3,0,0,0,0
9312,1995-11-15,1995,Albania,Wales,1,1,1,0,0,1
9755,1996-10-09,1996,Albania,Portugal,0,3,0,0,0,1
9805,1996-11-09,1996,Albania,Armenia,1,1,0,0,0,1
9931,1996-12-14,1996,Albania,Northern Ireland,0,2,0,0,0,0
10039,1997-03-29,1997,Albania,Ukraine,0,1,0,0,0,1
10072,1997-04-02,1997,Albania,Germany,2,3,1,0,0,1
10269,1997-06-07,1997,Albania,Portugal,0,2,0,0,0,0
10492,1997-08-20,1997,Albania,Ukraine,0,1,0,0,0,0
10530,1997-09-06,1997,Albania,Armenia,0,3,0,1,0,0
10580,1997-09-10,1997,Albania,Northern Ireland,1,0,0,0,1,1
10665,1997-10-11,1997,Albania,Germany,3,4,0,0,0,0
11032,1998-09-05,1998,Albania,Georgia,0,1,0,0,0,0
11145,1998-10-14,1998,Albania,Norway,2,2,0,0,0,0
11236,1999-06-05,1999,Albania,Norway,1,2,0,0,0,1
11274,1999-06-09,1999,Albania,Slovenia,0,1,0,1,0,1
11383,1999-08-18,1999,Albania,Slovenia,0,2,0,0,0,0
11388,1999-09-04,1999,Albania,Latvia,3,3,0,0,0,1
11469,1999-10-06,1999,Albania,Greece,0,2,0,0,0,0
11470,1999-10-09,1999,Albania,Georgia,2,1,0,0,1,1
12026,2000-09-02,2000,Albania,Finland,1,2,0,0,0,0
12154,2000-10-11,2000,Albania,Greece,2,0,0,0,1,1
12379,2001-03-24,2001,Albania,Germany,1,2,0,0,0,0
12424,2001-03-28,2001,Albania,England,1,3,0,0,0,1
12732,2001-06-02,2001,Albania,Greece,0,1,0,0,0,0
12796,2001-06-06,2001,Albania,Germany,0,2,0,0,0,1
13019,2001-09-01,2001,Albania,Finland,0,2,0,0,0,1
13092,2001-09-05,2001,Albania,England,0,2,0,0,0,0
13538,2002-10-12,2002,Albania,Switzerland,1,1,0,0,0,1
13582,2002-10-16,2002,Albania,Russia,1,4,0,0,0,0
13633,2003-03-29,2003,Albania,Russia,3,1,0,0,1,1
13713,2003-06-07,2003,Albania,Republic of Ireland,1,2,0,0,0,0
13735,2003-06-11,2003,Albania,Switzerland,2,3,1,0,0,0
13848,2003-09-06,2003,Albania,Georgia,0,3,0,0,0,0
13891,2003-09-10,2003,Albania,Georgia,3,1,0,0,1,1
14693,2004-09-04,2004,Albania,Greece,2,1,0,0,1,1
14806,2004-09-08,2004,Albania,Georgia,0,2,0,0,0,0
14927,2004-10-09,2004,Albania,Denmark,0,2,0,0,0,1
14983,2004-10-13,2004,Albania,Kazakhstan,1,0,0,0,1,0
15124,2005-02-09,2005,Albania,Ukraine,0,2,0,0,0,1
15148,2005-03-26,2005,Albania,Turkey,0,2,0,1,0,0
15256,2005-03-30,2005,Albania,Greece,0,2,0,0,0,0
15324,2005-06-04,2005,Albania,Georgia,3,2,0,0,1,1
15378,2005-06-08,2005,Albania,Denmark,1,3,0,0,0,0
15538,2005-09-03,2005,Albania,Kazakhstan,2,1,0,0,1,1
15739,2005-10-08,2005,Albania,Ukraine,2,2,0,0,0,0
15782,2005-10-12,2005,Albania,Turkey,0,1,0,0,0,1
16018,2006-09-02,2006,Albania,Belarus,2,2,1,0,0,0
16062,2006-09-06,2006,Albania,Romania,0,2,0,1,0,1
16134,2006-10-11,2006,Albania,Netherlands,1,2,0,0,0,0
16272,2007-06-02,2007,Albania,Luxembourg,2,0,0,0,1,1
16320,2007-06-06,2007,Albania,Luxembourg,3,0,0,0,1,0
16556,2007-09-12,2007,Albania,Netherlands,0,1,0,0,0,1
16644,2007-10-17,2007,Albania,Bulgaria,1,1,0,0,0,1
16755,2007-11-17,2007,Albania,Belarus,2,4,0,1,0,1
16841,2007-11-21,2007,Albania,Romania,1,6,0,2,0,0
17491,2008-09-10,2008,Albania,Malta,3,0,0,0,1,1
17576,2008-10-11,2008,Albania,Hungary,0,2,0,0,0,0
17792,2009-03-28,2009,Albania,Hungary,0,1,0,0,0,1
17858,2009-04-01,2009,Albania,Denmark,0,3,0,0,0,0
17952,2009-06-06,2009,Albania,Portugal,1,2,0,0,0,1
18196,2009-09-09,2009,Albania,Denmark,1,1,0,0,0,1
18369,2009-10-14,2009,Albania,Sweden,1,4,0,0,0,0
18641,2010-09-03,2010,Albania,Romania,1,1,0,0,0,0
18682,2010-09-07,2010,Albania,Luxembourg,1,0,0,0,1,1
18686,2010-10-08,2010,Albania,Bosnia and Herzegovina,1,1,0,0,0,1
18764,2010-10-12,2010,Albania,Belarus,0,2,0,0,0,0
18846,2011-03-26,2011,Albania,Belarus,1,0,0,0,1,1
18929,2011-06-07,2011,Albania,Bosnia and Herzegovina,0,2,0,0,0,0
19142,2011-09-02,2011,Albania,France,1,2,0,0,0,1
19254,2011-09-06,2011,Albania,Luxembourg,1,2,0,0,0,0
19307,2011-10-07,2011,Albania,France,0,3,0,0,0,0
19367,2011-10-11,2011,Albania,Romania,1,1,0,0,0,1
19948,2012-09-07,2012,Albania,Cyprus,3,1,0,0,1,1
20025,2012-09-11,2012,Albania,Switzerland,0,2,0,1,0,0
20087,2012-10-12,2012,Albania,Iceland,1,2,0,0,0,1
20180,2012-10-16,2012,Albania,Slovenia,1,0,0,0,1,1
20274,2013-03-22,2013,Albania,Norway,1,0,0,0,1,0
20474,2013-06-07,2013,Albania,Norway,1,1,0,0,0,1
20680,2013-09-06,2013,Albania,Slovenia,0,1,0,0,0,0
20814,2013-09-10,2013,Albania,Iceland,1,2,0,0,0,0
20873,2013-10-11,2013,Albania,Switzerland,1,2,1,0,0,1
21116,2014-09-07,2014,Albania,Portugal,1,0,0,0,1,0
21197,2014-10-11,2014,Albania,Denmark,1,1,0,0,0,1
21504,2015-03-29,2015,Albania,Armenia,2,1,0,0,1,1
21847,2015-09-07,2015,Albania,Portugal,0,1,0,0,0,1
21952,2015-10-08,2015,Albania,Serbia,0,2,0,0,0,1
22030,2015-10-11,2015,Albania,Armenia,3,0,0,0,1,0
22481,2016-06-11,2016,Albania,Switzerland,0,1,0,0,0,1
22515,2016-06-15,2016,Albania,France,0,2,0,0,0,0
22538,2016-06-19,2016,Albania,Romania,1,0,0,0,1,0
22643,2016-09-05,2016,Albania,North Macedonia,2,1,0,0,1,1
22647,2016-09-05,2016,Kosovo,Finland,1,1,1,0,0,0
22704,2016-10-06,2016,Albania,Liechtenstein,2,0,0,0,1,0
22721,2016-10-06,2016,Kosovo,Croatia,0,6,0,0,0,1
22793,2016-10-09,2016,Albania,Spain,0,2,0,0,0,1
22809,2016-10-09,2016,Kosovo,Ukraine,0,3,0,0,0,0
22898,2016-11-12,2016,Albania,Israel,0,3,0,1,0,1
22917,2016-11-12,2016,Kosovo,Turkey,0,2,0,0,0,0
23051,2017-03-24,2017,Albania,Italy,0,2,0,1,0,0
23061,2017-03-24,2017,Kosovo,Iceland,1,2,0,1,0,1
23180,2017-06-11,2017,Kosovo,Turkey,1,4,0,0,0,1
23182,2017-06-11,2017,Albania,Israel,3,0,0,0,1,0
23365,2017-09-02,2017,Albania,Liechtenstein,2,0,0,0,1,1
23366,2017-09-02,2017,Kosovo,Croatia,0,1,0,0,0,0
23442,2017-09-05,2017,Albania,North Macedonia,1,1,0,1,0,0
23463,2017-09-05,2017,Kosovo,Finland,0,1,0,0,0,1
23522,2017-10-06,2017,Albania,Spain,0,3,0,0,0,0
23529,2017-10-06,2017,Kosovo,Ukraine,0,2,0,0,0,1
23592,2017-10-09,2017,Albania,Italy,0,1,0,0,0,1
23596,2017-10-09,2017,Kosovo,Iceland,0,2,0,0,0,0
23812,2018-09-07,2018,Albania,Israel,1,0,0,0,1,1
23856,2018-09-10,2018,Albania,Scotland,0,2,0,0,0,0
23857,2018-09-10,2018,Kosovo,Faroe Islands,2,0,0,0,1,1
23887,2018-10-11,2018,Kosovo,Malta,3,1,0,0,1,1
23919,2018-10-14,2018,Albania,Israel,0,2,0,0,0,0
23928,2018-10-14,2018,Kosovo,Faroe Islands,1,1,0,0,0,0
23993,2018-11-17,2018,Albania,Scotland,0,4,0,1,0,1
23996,2018-11-17,2018,Kosovo,Malta,5,0,0,0,1,0
24030,2018-11-20,2018,Kosovo,Azerbaijan,4,0,0,0,1,1
24168,2019-03-22,2019,Albania,Turkey,0,2,0,0,0,1
24207,2019-03-25,2019,Albania,Andorra,3,0,0,0,1,0
24210,2019-03-25,2019,Kosovo,Bulgaria,1,1,0,0,0,1
24264,2019-06-07,2019,Kosovo,Montenegro,1,1,0,0,0,0
24292,2019-06-08,2019,Albania,Iceland,0,1,0,0,0,0
24305,2019-06-10,2019,Kosovo,Bulgaria,3,2,0,0,1,0
24341,2019-06-11,2019,Albania,Moldova,2,0,0,0,1,1
24650,2019-09-07,2019,Kosovo,Czech Republic,2,1,0,0,1,1
24659,2019-09-07,2019,Albania,France,1,4,1,0,0,0
24744,2019-09-10,2019,Albania,Iceland,4,2,0,0,1,1
24747,2019-09-10,2019,Kosovo,England,3,5,1,0,0,0
24813,2019-10-11,2019,Albania,Turkey,0,1,0,0,0,0
24854,2019-10-14,2019,Albania,Moldova,4,0,0,0,1,0
24862,2019-10-14,2019,Kosovo,Montenegro,2,0,0,0,1,1
24914,2019-11-14,2019,Kosovo,Czech Republic,1,2,0,0,0,0
24922,2019-11-14,2019,Albania,Andorra,2,2,0,0,0,1
24993,2019-11-17,2019,Albania,France,0,2,0,0,0,1
24996,2019-11-17,2019,Kosovo,England,0,4,0,0,0,1
25066,2020-09-03,2020,Kosovo,Moldova,1,1,0,0,0,0
25080,2020-09-04,2020,Albania,Belarus,2,0,0,0,1,0
25129,2020-09-06,2020,Kosovo,Greece,1,2,0,0,0,1
25132,2020-09-07,2020,Albania,Lithuania,0,1,0,0,0,1
25173,2020-10-08,2020,Kosovo,North Macedonia,1,2,0,0,0,0
25211,2020-10-11,2020,Kosovo,Slovenia,0,1,0,0,0,1
25321,2020-11-15,2020,Albania,Kazakhstan,3,1,1,0,1,1
25344,2020-11-15,2020,Kosovo,Slovenia,1,2,0,1,0,0
25388,2020-11-18,2020,Albania,Belarus,3,2,1,0,1,1
25390,2020-11-18,2020,Kosovo,Moldova,1,0,0,0,1,1
25452,2021-03-25,2021,Albania,Andorra,1,0,0,0,1,0
25513,2021-03-28,2021,Kosovo,Sweden,0,3,0,1,0,1
25523,2021-03-28,2021,Albania,England,0,2,0,0,0,1
25585,2021-03-31,2021,Kosovo,Spain,1,3,0,0,0,0
25587,2021-03-31,2021,Albania,San Marino,2,0,0,0,1,0
26057,2021-09-02,2021,Kosovo,Georgia,1,0,0,0,1,0
26096,2021-09-02,2021,Albania,Poland,1,4,0,0,0,0
26153,2021-09-05,2021,Kosovo,Greece,1,1,0,0,0,1
26164,2021-09-05,2021,Albania,Hungary,1,0,0,0,1,1
26254,2021-09-08,2021,Albania,San Marino,5,0,0,0,1,1
26262,2021-09-08,2021,Kosovo,Spain,0,2,0,0,0,1
26386,2021-10-09,2021,Kosovo,Sweden,0,3,0,1,0,0
26395,2021-10-09,2021,Albania,Hungary,1,0,0,0,1,0
26471,2021-10-12,2021,Albania,Poland,0,1,0,0,0,1
26508,2021-10-12,2021,Kosovo,Georgia,1,2,1,0,0,1
26615,2021-11-12,2021,Albania,England,0,5,0,0,0,0
26668,2021-11-14,2021,Kosovo,Greece,1,1,0,0,0,0
26691,2021-11-15,2021,Albania,Andorra,1,0,1,0,1,1
27050,2022-06-02,2022,Kosovo,Cyprus,2,0,0,0,1,0
27103,2022-06-05,2022,Kosovo,Greece,0,1,0,0,0,1
27109,2022-06-06,2022,Albania,Iceland,1,1,0,0,0,0
27145,2022-06-09,2022,Kosovo,Northern Ireland,3,2,1,0,1,1
27168,2022-06-10,2022,Albania,Israel,1,2,1,0,0,1
27199,2022-06-12,2022,Kosovo,Greece,0,2,0,0,0,0
27289,2022-09-24,2022,Albania,Israel,1,2,0,0,0,0
27290,2022-09-24,2022,Kosovo,Northern Ireland,1,2,0,0,0,0
27336,2022-09-27,2022,Albania,Iceland,1,1,0,0,0,1
27339,2022-09-27,2022,Kosovo,Cyprus,5,1,0,0,1,1
27498,2023-03-25,2023,Kosovo,Israel,1,1,0,0,0,0
27526,2023-03-27,2023,Albania,Poland,0,1,0,0,0,0
27549,2023-03-28,2023,Kosovo,Andorra,1,1,0,0,0,1
27595,2023-06-17,2023,Albania,Moldova,2,0,0,0,1,1
27618,2023-06-19,2023,Kosovo,Belarus,1,2,1,0,0,0
27642,2023-06-20,2023,Albania,Faroe Islands,3,1,0,0,1,0
27712,2023-09-07,2023,Albania,Czech Republic,1,1,0,0,0,0
27746,2023-09-09,2023,Kosovo,Switzerland,2,2,0,0,0,1
27752,2023-09-10,2023,Albania,Poland,2,0,0,0,1,1
27782,2023-09-12,2023,Kosovo,Romania,0,2,0,0,0,0
27805,2023-10-12,2023,Albania,Czech Republic,3,0,0,0,1,1
27807,2023-10-12,2023,Kosovo,Andorra,3,0,0,0,1,0
27880,2023-11-12,2023,Kosovo,Israel,1,0,0,0,1,1
27909,2023-11-17,2023,Albania,Moldova,1,1,1,0,0,0
27920,2023-11-18,2023,Kosovo,Switzerland,1,1,0,0,0,0
27965,2023-11-21,2023,Kosovo,Belarus,0,1,0,0,0,1

In [7]:
# add ISO 3166-1 numeric codes to teams data
iso = pd.read_csv('iso_3166.csv')
teams_iso = pd.merge(teams, iso, left_on='team', right_on='name', how='left')
#teams['country_code'] = teams['country_code'].astype(int)

teams_iso[teams_iso['country_code'].isna()]['team'].value_counts()

Kosovo    52
Name: team, dtype: int64

In [8]:
# set custom theme
def custom_theme():
    return {
        'config': {
            'view': {
                'height': 600,
                'width': 600,
                
            },
            "axis": {
                "labelFontSize": 12, 
                "titleFontSize": 13,
            },
            "title": {
              "fontSize": 14
            },
            "legend": {
              "direction": "horizontal",
              "labelFontSize": 12,
              "titleFontSize": 13
            },
            'mark': {
                'fill': '#005391'
            }
        }
    }

# register the custom theme under a chosen name
alt.themes.register('custom_theme', custom_theme)

# enable the newly registered theme
alt.themes.enable('custom_theme')

ThemeRegistry.enable('custom_theme')

##### Plot 1: Map of Countries

In [9]:
# world map data
world = data.world_110m.url

In [25]:
# plot
alt.layer(
    # Earth sphere base layer
    alt.Chart({'sphere': True}).mark_geoshape(fill='#e6f3ff'
        ).project(type='naturalEarth1'
    ),
    # geographic reference lines
    alt.Chart({'graticule': True}).mark_geoshape(
        stroke='#ffffff', strokeWidth=0.5, fill=None
    ),
    # world countries
    alt.Chart(alt.topo_feature(world, 'countries')).mark_geoshape(
        stroke='white', strokeWidth=0.5
    )
).properties(
    height=325,
    title = 'MAP'
)

# #f2f2f2

alt.LayerChart(...)